@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;           /* pastikan html dan body tinggi penuh */
  margin: 0;              /* hilangkan margin default browser */
  padding: 0;
}

body {
  color: var(--foreground);
  background-image: url('/photo/second.webp');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

* {
  box-sizing: border-box;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(4px); */
  z-index: 99 !important; 
}

.border-f{
  @apply border border-[rgb(29,205,159)]
}
.border-t{
  @apply border border-[rgb(29,205,159)]
}
.border-b{
  @apply border border-[rgb(29,205,159)]
}
.border-r{
  @apply border border-[rgb(29,205,159)]
}
.border-l{
  @apply border border-[rgb(29,205,159)]
}

.form-input{
  @apply focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent
}

.flex-center {
  @apply flex justify-center items-center;
}

.invalidate {
  @apply text-red-400 mt-2
}