@import "tailwindcss";
@import "tw-animate-css";

@tailwind utilities;

.input[type=number]::-webkit-outer-spin-button,
.input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  height: 100%;           /* pastikan html dan body tinggi penuh */
  margin: 0;              /* hilangkan margin default browser */
  padding: 0;
}

body {
  color: var(--foreground);
  background-image: url('/photo/second.webp');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  font-family: 'Fira Code', 'JetBrains Mono', 'Courier New', monospace;
  font-variant-ligatures: contextual;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
}
.overlay-v {
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99 !important;
}
.overlay-auth {
  position: fixed;
  top: 0;
  left: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
}

.form-input{
  @apply focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent
}

.flex-center {
  @apply flex justify-center items-center;
}

.invalidate {
  @apply text-red-400 mt-2
}